
.preview-container {
  display: flex;
  flex-direction: column;
}

.info-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.submit-btn {
  padding: 5px 30px;
  align-self: flex-end;
  color: white;
  background: #EE7032;
  border: none;
  border-radius: 2px;
}