
<pt-card title="Preview" icon="arrows">
  <div class="preview-container">
    <div class="info-row">
      <label class="font-reg">FROM ACCOUNT</label>
      <span>{{formData.fromAccount}}</span>
    </div>

    <div class="info-row">
      <label class="font-reg">TO ACCOUNT</label>
      <span>{{formData.toAccount}}</span>  </div>

    <div class="info-row">
      <label class="font-reg">AMOUNT</label>
      <span>{{formData.amount | currency}}</span>  </div>

    <input class="submit-btn" type="button" value="Transfer" (click)="transferAmount()"/>
  </div>
</pt-card>

