:host {
  width: 100%;
}

.card-header {
  background: #0C8396;
  color: white;
  padding: 8px;
  display: flex;
  &__title {
    margin: auto;
  }
}

.container {
  padding: 16px;
  background: white;
}