
<pt-card title="Make a transfer" i18n-title="@@tranMonCardTitle" icon="arrows">
  <p class="top-error" *ngIf="fundTransferForm.invalid && submitButtonClicked" i18n="@@tranMonTopErrorMsg">
    Please correct the errors below.
  </p>
  <form [formGroup]="fundTransferForm" (ngSubmit)="onSubmit()">
    <div class="input-section">
      <label class="font-reg" for="fromAccountInput" i18n="@@tranMonFromAccount">FROM ACCOUNT</label>
      <pt-input-text [dataFormControl]="fromAccountCtrl" inputId="fromAccountInput">
      </pt-input-text>
    </div>

    <div class="input-section">
      <label class="font-reg" for="toAccountInput" i18n="@@tranMonToAccount">TO ACCOUNT</label>
      <pt-input-text [dataFormControl]="toAccountCtrl" inputId="toAccountInput">
        <p class="error-msg" *ngIf="toAccountCtrl.errors && toAccountCtrl.touched">
            <ng-container *ngIf="toAccountCtrl.errors.required" i18n="@@tranMonBeneReqMsg">
              Please enter beneficiary account.
            </ng-container>
        </p>
      </pt-input-text>
    </div>

    <div class="input-section">
      <label class="font-reg" for="amountInput" i18n="@@tranMonAmount">AMOUNT</label>
      <pt-input-text [dataFormControl]="amountCtrl" class="amount-input" inputId="amountInput" leftSymbol="$">
        <p class="error-msg" *ngIf="amountCtrl.errors && amountCtrl.touched">
          <ng-container *ngIf="amountCtrl.errors.required" i18n="@@tranMonAmountReqMsg">
            Please enter amount.
          </ng-container>
          <ng-container *ngIf="amountCtrl.errors.overdraftExceeded" i18n="@@tranMonAmountOverdraftExceedMsg">
            Please enter a lesser amount. Overdraft limit is exceeded. 
          </ng-container>
        </p>
      </pt-input-text>
    </div>

    <input class="submit-btn" type="submit" value="Submit"/>
  </form>
</pt-card>