@font-face {
  font-family: kanitThin;
  src: url(./Kanit/Kanit-Thin.ttf);
}
@font-face {
  font-family: kanitThinItalic;
  src: url(./Kanit/Kanit-ThinItalic.ttf);
}
@font-face {
  font-family: kanitExtraLight;
  src: url(./Kanit/Kanit-ExtraLight.ttf);
}
@font-face {
  font-family: kanitExtraLightItalic;
  src: url(./Kanit/Kanit-ExtraLightItalic.ttf);
}
@font-face {
  font-family: kanitLight;
  src: url(./Kanit/Kanit-Light.ttf);
}
@font-face {
  font-family: kanitLightItalic;
  src: url(./Kanit/Kanit-LightItalic.ttf);
}
@font-face {
  font-family: kanitRegular;
  src: url(./Kanit/Kanit-Regular.ttf);
}
@font-face {
  font-family: kanitMedium;
  src: url(./Kanit/Kanit-Medium.ttf);
}
@font-face {
  font-family: kanitMediumItalic;
  src: url(./Kanit/Kanit-MediumItalic.ttf);
}
@font-face {
  font-family: kanitSemibold;
  src: url(./Kanit/Kanit-SemiBold.ttf);
}
@font-face {
  font-family: kanitSemiboldItalic;
  src: url(./Kanit/Kanit-SemiBoldItalic.ttf);
}
@font-face {
  font-family: kanitBold;
  src: url(./Kanit/Kanit-Bold.ttf);
}
@font-face {
  font-family: kanitBoldItalic;
  src: url(./Kanit/Kanit-BoldItalic.ttf);
}
@font-face {
  font-family: kanitExtraBold;
  src: url(./Kanit/Kanit-ExtraBold.ttf);
}
@font-face {
  font-family: kanitExtraBoldItalic;
  src: url(./Kanit/Kanit-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: kanitBlack;
  src: url(./Kanit/Kanit-Black.ttf);
}
@font-face {
  font-family: kanitBlackItalic;
  src: url(./Kanit/Kanit-BlackItalic.ttf);
}